body {
    font-family: Osaka-Mono, Yu Gochic, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    padding: 0;
    margin: 0;
}
#searchOptions {
    margin: 20px;
    padding: 0;
}
#searchOptions input[type='text'] {
    margin: 0;
    padding: 0.5rem .25rem;
    font-size: 1.5rem;
}
#categorySelector {
    list-style-type: none;
    padding: 0;
    margin: .5rem 0 0;
}
#categorySelector li {
    display: inline;
    border-right: 1px solid gray;
    padding-right: .5em;
    margin-right: .5em;
}
#categorySelector li.active a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
#categorySelector li input[type='radio'] {
    margin-right: .5em;
}

#categorySelector li:nth-last-of-type(1) {
    border: none;
}
#SearchResult {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}
#SearchResult li {
    margin: 0 0 .5rem;
}
.ReleaseDate {
    color: gray;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1rem;
    padding: 0;
    margin: 0;
}
.title {
    font-size: 1rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
